// ### Primary

$Orange: #ff7d1a;
$Pale-orange: #ffede0;

// ### Neutral

$Very-vark-blue: #1d2025;
$Dark-grayish-blue: #68707d;
$Grayish-blue: #b6bcc8;
$Light-grayish-blue: #f7f8fd;
$White: hsl(0, 0%, 100%);
$Black:hsl(0, 0%, 0%);
$lightbox-black: rgba(0,0,0,.75);
$badge-font-size:.55em;
$badge-padding-y:.37em;
$badge-padding-x:.66em;



